# flyctl launch added from .gitignore
**/.env
**/data/*.db
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.egg-info
**/dist
**/build
**/.venv
**/venv
**/*.log
**/debug.html
**/.DS_Store

# flyctl launch added from .venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/**/*
fly.toml
